libDir = "${src}/sequencing/lib"

profiles {
    standard {
        workDir = "/tmp/paulssonlab-sequencing"
    }

    o2 {
        workDir = "${PAULSSONLAB_SCRATCH}/sequencing"
    }

    //o2-slurm {
    //    //
    //}
}

params {
    remote_path = ''
    remote_path_base = 'transfer.rc.hms.harvard.edu:/n/files/SysBio/PAULSSON LAB/Personal Folders'
    sample_sheet_name = 'samples.toml'
}

// needs to be outside params scope so can access workDir
params.data_dir = "${workDir}/data"
