// we do this to avoid mucking about with dynamic Groovy classpath manipulation
// SEE: https://stackoverflow.com/questions/9136328/including-a-groovy-script-in-another-groovy
// SEE: https://documentation.mindville.com/display/INSSERV/Import+groovy+script+from+one+to+another
// SEE: https://stackoverflow.com/questions/306139/how-do-i-include-jars-in-a-groovy-script#comment11198154_306168
// SEE: https://stackoverflow.com/questions/56440063/use-a-groovy-script-from-another-groovy-script
libDir = "${src}/sequencing/lib"

profiles {
    standard {
        params.temp_dir = "/tmp/paulssonlab-sequencing/${params.project_name}"
        params.output_dir = params.temp_dir
    }

    o2 {
        params.temp_dir = "${PAULSSONLAB_SCRATCH}/sequencing/${params.project_name}"
        params.output_dir = params.temp_dir // TODO: put output in group directory?
    }

    //o2-slurm {
    //    //
    //}
}

params {
    remote_path_base = 'transfer.rc.hms.harvard.edu:/n/files/SysBio/PAULSSON LAB/Personal_Folders'
    sample_sheet_name = 'samples.toml'
    conda_env_dir = "${src}/sequencing/envs"
}

workDir = "${params.temp_dir}/work"
params.data_dir = "${params.output_dir}/data"
params.references_dir = "${params.data_dir}/references"
