// we do this to avoid mucking about with dynamic Groovy classpath manipulation
// SEE: https://stackoverflow.com/questions/9136328/including-a-groovy-script-in-another-groovy
// SEE: https://documentation.mindville.com/display/INSSERV/Import+groovy+script+from+one+to+another
// SEE: https://stackoverflow.com/questions/306139/how-do-i-include-jars-in-a-groovy-script#comment11198154_306168
// SEE: https://stackoverflow.com/questions/56440063/use-a-groovy-script-from-another-groovy-script
libDir = "${src}/sequencing/lib"

nextflow.enable.strict = true
conda.useMamba = true

profiles {
    o2 {
        //
    }
}

params {
    remote_path_base = "transfer.rc.hms.harvard.edu:/n/files/SysBio/PAULSSON LAB/Personal_Folders"
    conda_env_dir = "${src}/sequencing/envs"
}

params.output = "${params.root}/output"
params.samples = "${projectDir}/samples.toml"
workDir = "${params.root}/work"
