// we do this to avoid mucking about with dynamic Groovy classpath manipulation
// SEE: https://stackoverflow.com/questions/9136328/including-a-groovy-script-in-another-groovy
// SEE: https://documentation.mindville.com/display/INSSERV/Import+groovy+script+from+one+to+another
// SEE: https://stackoverflow.com/questions/306139/how-do-i-include-jars-in-a-groovy-script#comment11198154_306168
// SEE: https://stackoverflow.com/questions/56440063/use-a-groovy-script-from-another-groovy-script
libDir = "${src}/sequencing/lib"

nextflow.enable.strict = true
conda.enabled = true
conda.useMicromamba = true

profiles {
    o2 {
        executor {
            name = "slurm"
            queueSize = 500
            submitRateLimit = '200/1min'
        }
        process {
            cpus = 1
            time = 1.hour
            memory = 4.GB
            queue = "short"
            maxRetries = 2
            maxErrors = 5

            withLabel: local {
                executor = "local"
            }

            withLabel: dorado_gpu {
                queue = "gpu_quad"
                clusterOptions = "--gres=gpu:1,vram:32G"
            }
        }
    }
}

params {
    conda_env_dir = "${src}/sequencing/envs"
}

params.output = "${params.root}/output"
params.samples = "${projectDir}/samples.toml"
workDir = "${params.root}/work"
