source_up .envrc_base
initenv "${src}/image_analysis/environment.yml"
if [ ! -d fira ]; then
	curl -o fira.zip https://fonts.google.com/download?family=Fira%20Sans
	unzip fira.zip -d fira
	rm fira.zip
fi
