libDir = "${src}/sequencing/lib"
nextflow.enable.strict = true
conda.enabled = true
conda.useMicromamba = true
params.conda_env_dir = "${src}/sequencing/envs"
params.root = "/home/jqs1/scratch/jqs1/sequencing/230818_bcd_rbses_subset/20230818_1343_1A_PAQ97606_f49ab41c"
params.output = "${params.root}/output"
params.samples = "${projectDir}/samples.toml"
workDir = "${params.root}/work"
