[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apsw = "*"
"autopep8" = "*"
blosc = "*"
bokeh = "*"
holoviews = "*"
click = "*"
cython = "*"
dask = {extras = ["complete"]}
distributed = "*"
ipywidgets = "*"
ujson = "*"
jupyter = "*"
jupyterlab = "*"
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
line-profiler = "*"
lmdb = "*"
matplotlib = "*"
natsort = "*"
"nd2reader" = "*"
numba = "*"
numcodecs = "*"
zarr = "*"
peewee = "*"
pillow = "*"
pytz = "*"
scikit-learn = "*"
scipy = "*"
streamz = "*"
cytoolz = "*"
tqdm = "*"
qgrid = "*"
xarray = "*"
pandas = "*"
hide-code = "*"
more-itertools = "*"
tifffile = "*"
deepdiff = "*"
pendulum = "*"
jdcal = "*"
jq = "*"
jmespath = "*"
xxhash = "*"
"8ac6f2a" = {path = "/home/jqs1/projects/datashader", editable = true}
scikit-image = "*"
peakutils = "*"
"1e22951" = {path = "/home/jqs1/projects/dask-jobqueue", editable = true}
cvxpy = "*"
picos = "*"
pyomo = "*"
"037fc10" = {path = "/home/jqs1/projects/dask", editable = true}

[dev-packages]

[requires]
python_version = "3.6"
