[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
numba = "*"
bokeh = "*"
matplotlib = "*"
apsw = "*"
blosc = "*"
click = "*"
cython = "*"
jupyter = "*"
jupyterlab = "*"
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
lmdb = "*"
numcodecs = "*"
zarr = "*"
scikit-learn = "*"
streamz = "*"
cytoolz = "*"
tqdm = "*"
xarray = "*"
more-itertools = "*"
tifffile = "*"
deepdiff = "*"
pendulum = "*"
jdcal = "*"
jmespath = "*"
xxhash = "*"
scikit-image = "*"
peakutils = "*"
cvxpy = "*"
qgrid = "*"
python-snappy = "*"
pympler = "*"
objgraph = "*"
numpy-indexed = "*"
ipywidgets = "*"
parambokeh = "*"
pyct = "*"
cachetools = "*"
notebook = "*"
pyviz-comms = "*"
colorama = "*"
wrapt = "*"
"f99514c" = {editable = true, path = "./../dask"}
"99df002" = {editable = true, path = "./../dask-jobqueue"}
"92bd2ca" = {editable = true, path = "./../holoviews"}
"391fd0a" = {editable = true, path = "./../pandas"}
pyarrow = "*"
"6cfaf2b" = {editable = true, path = "./../datashader"}
"3ab5c35" = {editable = true, path = "./../hvplot"}
"a2cbe05" = {editable = true, path = "./../nd2reader"}
deepmerge = "*"
filelock = "*"
line-profiler = {git = "https://github.com/rkern/line_profiler.git"}
snakeviz = {editable = true, path = "./../snakeviz"}
memory-profiler = "*"
nose = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
