[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://pypi.anaconda.org/bokeh/channel/dev/simple"
verify_ssl = true
name = "bokeh"

[dev-packages]

[packages]
panel = {editable = true,path = "./../panel"}
jupyterlab = "==0.35.4"
ipywidgets = "*"
bokeh = {version = "==1.1.0rc1",index = "bokeh"}
numba = "*"
distributed = {path = "./../distributed"}
holoviews = "*"
pyviz-comms = "*"
param = "*"
numpy = "*"
scipy = "*"
numpy-indexed = "*"
pandas = "*"
cytoolz = "*"
peakutils = "*"
tqdm = "*"
matplotlib = "*"
dask = {editable = true,path = "./../dask"}
dask-jobqueue = {editable = true,path = "./../dask-jobqueue"}
nd2reader = {editable = true,path = "./../nd2reader"}
wrapt = "*"
xarray = "*"
zarr = "*"
datashader = "*"
cachetools = "*"
pyarrow = "*"
hvplot = "*"
astropy = "*"
lmdb = "*"
ae640ee = {editable = true,path = "./../numcodecs"}
numcodecs = {editable = true,path = "./../numcodecs"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
